target/
.cache
.cache-main
.cache-tests
objective/
objectiveresult/
serializedDictionary.txt
newarticle/
newarticlecounted/
similarityresult/
classifierOutput/
foldingOutput/
newArticleInput/
newArticleOutput/
wordCountInput/
wordCountOutput/
