target/
.cache
.cache-main
.cache-tests
objective/
objectiveresult/
serializedDictionary.txt
newarticle/
newarticlecounted/
similarityresult/
classifierOutput/
foldingOutput/
newArticleInput/
newArticleOutput/
wordCountInput/
wordCountOutput/
crossValRes/
crossValCnt/
cvScoresOutput/
cvAverageOutput/
crossvalidationOutput/
logs/
.idea/
kaw.iml
dictionary.txt
